.horor{
    background-color: aqua;
    width: 125px;
    height: 50px;
}
.logotip{
    border-radius: 20.95px;
    background-color: brown;
}
.englesh{
    /* width: 267.09px;
    height: 277.07px; */
    background-color: blueviolet;
    padding: 100px;
}
.robot{
    width: 267.09px;
    height: 277.07;
}
.password{
    border-radius: 360px;
    width: 38.3px;
    height: 38.3px;
}
.poco{
    background-color: black ;
    width:290px ;
    height: 400px;
}
.print{
    color: aliceblue;
}
.rok{
     width: 9.77px;
    height: 15.9px;
    top: 360px;
    left: 204.32px;
}

.glass{
    color: azure;
}
.tortlu{
    margin: 0px;
    display: flex;
}
.door{
    background-color: black ; 

}