.haha{
    background-color: aqua;
    width: 125px;
    height: 50px;
}
.hihi{
    border-radius: 20.95px;
    background-color: brown;
}
.img{
    width: 267.09px;
    height: 277.07px;
    background-color: blueviolet;
}
.l{
    width: 267.09px;
    height: 277.07;
}
.p{
    border-radius: 360px;
    width: 38.3px;
    height: 38.3px;
}